<div class="contacts_block">
    <a name="contacts"></a>
    <div class="contacts_left left">
        <h3>Консультації та замовлення за телефонами</h3>
        <table>
            <tbody>
                <tr>
                    <td><b>Безкоштовно по Україні</b></td>
                    <td style="text-align: right;"><b>(0-800) 300 100; (0-800) 200 100</b></td>
                </tr>
                <tr>
                    <td>Київ</td>
                    <td style="text-align: right;">(044) 459 70 75</td>
                </tr>
                <tr>
                    <td>Дніпро</td>
                    <td style="text-align: right;">(056) 790 12 34</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td style="text-align: left;" colspan="2">
                        <h4 style="font-size: 15px;height: 40px; margin-bottom:0;">Графік роботи контакт-центру:</h4>
                    </td>
                </tr>
                <tr>
                    <td>Щодня</td>
                    <td style="text-align: right;">07:00 - 00:00</td>
                </tr>

            </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="contacts_form">
        <div id="feedback_container_778">
            <div id="feedback_widget">
                <form id="feedback_form" method="post">
                    <div class="feedback-form-wrapper">
                        <div class="form_title">Напишіть і ми звяжемося з вами</div>
                        <div class="container">
                            <div class="feedback-clearfix">
                                <label for="name">Ім'я</label>
                                <input type="text" name="name" class="required-entry" value="" spellcheck="false" id="feedback_name">
                            </div>
                            <div class="phone_email feedback-clearfix">
                                <label for="phone_email">Ел. пошта або телефон</label>
                                <input type="text" name="email_value" class="required-entry validate-email-without-cyrillic" value="" spellcheck="false" id="email_value">
                            </div>

                            <div class="feedback_message feedback-clearfix">
                                <label for="message">Повідомлення </label>
                                <textarea name="message" cols="40" rows="6" class="validate-feedback-message required-entry" value="" spellcheck="false" id="feedback_message"></textarea>
                            </div>
                            <div class="feedback-clearfix last">
                                <button class="button red" type="submit" id="feedback_form_submit">Надіслати</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>