.c-cols-r-static {
    padding-left: 50px;
    padding-right: 50px;
    background: #f5f6f7;
}

.c-cols-r-static span {
    font-size: 40px;
}

.h1,
h1 {
    margin-bottom: .325em;
    font-size: 40px;
    line-height: 1.2em;
}

.text-page {
    font-size: 1.15385em;
    line-height: 1.4em;
    max-width: 60em;
    /* margin-bottom: 5em; */
}

.text-page h4 {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: .7em;
    font-weight: 700;
}

.text-page div {
    padding-bottom: 5em;
}