<div class="c-cols-r-static">
    <a name="credits"></a>
    <div class="credit-head">
        <h1>Покупка в кредит</h1>
        <p class="credit-subtitle">Покупка в кредит — это просто! Ознакомьтесь с условиями, которые предлагают наши банки-партнеры</p>
    </div>
    <div class="credit-rules">
        <div class="credit-rules-list">
            <div class="credit-rules-list-i">
                <div class="credit-rules-image"><img src="https://i1.rozetka.ua/pages/417/417873.png"></div>
                <div class="credit-rules-title"><span>Выберите товар</span> <br>и кредитный пакет,<br> оформите заказ</div>
            </div>

            <div class="credit-rules-list-i">
                <div class="credit-rules-image"><img src="https://i1.rozetka.ua/pages/417/417897.png"></div>
                <div class="credit-rules-title"><span>Согласуйте условия</span><br> заказа с <br>менеджером магазина</div>
            </div>

            <div class="credit-rules-list-i">
                <div class="credit-rules-image"><img src="https://i2.rozetka.ua/pages/417/417921.png"></div>
                <div class="credit-rules-title"><span>Ожидайте звонок</span> <br>из банка и оформляйте<br> договор</div>
            </div>

            <div class="credit-rules-list-i">
                <div class="credit-rules-image"><img src="https://i2.rozetka.ua/images/8/8766.png"></div>
                <div class="credit-rules-title"><span>Получайте доставку</span><br> и пользуйтесь <br>покупкой</div>
            </div>
        </div>
    </div>
    <!--подписание договора-->
    <div class="rz-credit-block">
        <h2>Подписание договора</h2>
        <p class="credit-subtitle">Кредит оформляется или в нашей точке выдачи по адресу Киев, пр. С. Бандеры, 6, или по адресу, который согласовывается с менеджером Банка:</p>
        <p class="credit-subtitle">UKRSIBBANK - в отделениях Банка</p>
        <p class="credit-subtitle">Кредитмаркет и ПУМБ - в отделениях "Новой почты"</p>
        <p class="credit-subtitle">Альфа-Банк - курьером по удобному для Вас адресу, после предварительного заполнения on-line анкеты.</p>
    </div>
    <!--подписание договора-->
    <!-- условия кредитов-->
    <div class="rz-credit-block">
        <h2>Условия кредитования</h2>
        <table class="rz-credit-terms-table">
            <tbody>
                <tr class="rz-credit-terms-tr rz-credit-terms-tr-heading">
                    <td class="rz-credit-terms-td">Наименование кредитного пакета</td>
                    <td class="rz-credit-terms-td">Льготный период <br>без комиссий, мес
                    </td>
                    <td class="rz-credit-terms-td">Годовая ставка, %</td>
                    <td class="rz-credit-terms-td">Ежемесячная комиссия после <br>льготного периода,<br> % от суммы кредита
                    </td>
                    <td class="rz-credit-terms-td">Разовая комиссия, <br>% от суммы кредита
                    </td>
                    <td class="rz-credit-terms-td">Первоначальный взнос,<br> % от суммы СФ
                    </td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">0,01% на 3 месяца</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">3</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">0,01% на 5 месяцев</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">0,01% на 10 месяцев</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">10</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">0,01% на 12 месяцев</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">12</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">0,01% на 15 месяцев</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">15</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">0,01% на 20 месяцев</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">20</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">0,01% на 24 месяцев</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">24</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">Доступный Стандарт</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">нет</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">Кредит с компенсацией до 35% IQ</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">нет</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">1,99</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">1,99</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-deposit">Стандарт на ювелирные изделия от Кредитмаркета</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">нет</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-rate">0,01</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,5</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">-</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-contribution">от 0</td>
                </tr>
            </tbody>
        </table>
        <p class="rz-credit-text">* срок кредитования — от 6 до 36 месяцев. На усмотрение банка кредиты могут быть застрахованы.</p>
    </div>
    <!-- условия кредитов-->
    <!-- условия рассрочки от ПриватБанка-->
    <div class="rz-credit-block">
        <h2>Условия оформления рассрочки от ПриватБанка</h2>
        <table class="rz-credit-terms-table">
            <tbody>
                <tr class="rz-credit-terms-tr rz-credit-terms-tr-heading">
                    <td class="rz-credit-terms-td">Программа</td>
                    <td class="rz-credit-terms-td">Количество платежей, шт</td>
                    <td class="rz-credit-terms-td">Ежемесячная комиссия,<br> % от суммы кредита</td>
                    <td class="rz-credit-terms-td">Разовая комиссия,<br> % от суммы кредита</td>

                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-program">Оплата Частями</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">2-10</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">нет</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">нет</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-program">Мгновенная рассрочка </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">2-24</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">2,9</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">2,9</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-program">Мгновенная рассрочка Акционная</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-period">13-25</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-commision">0,99</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-single_commission">0,99</td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- условия рассрочки от ПриватБанка-->
    <!-- банки-->
    <div class="rz-credit-block">
        <h2>Банки - партнери</h2>
        <table class="rz-credit-terms-table">
            <tbody>
                <tr class="rz-credit-terms-tr rz-credit-terms-tr-heading">
                    <td class="rz-credit-terms-td">Наименование Банка</td>
                    <td class="rz-credit-terms-td">Вид продажи </td>
                    <td class="rz-credit-terms-td">Сумма кредита, грн</td>
                    <td class="rz-credit-terms-td">Период кредитования,<br> мес</td>
                    <td class="rz-credit-terms-td">Возраст заемщика,<br> лет</td>
                    <td class="rz-credit-terms-td">Дополнительные условия</td>
                    <td class="rz-credit-terms-td">Перечень необходимых<br> документов</td>

                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-name">
                        <img src="https://i1.rozetka.ua/pages/391/391132.png" alt="ПУМБ" title="ПУМБ" class="rz-credit-icon" style="display: block;">
                    </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-form">Кредит</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-sum">500 – 100 000</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-term">До 24</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-age">18-70</td>
                    <td rowspan="4" class="rz-credit-terms-td rz-credit-terms-td-condition">
                        Стаж на текущем месте работы- не меньше 3 месяцев.<br> На усмотрение банка кредиты застрахованы по минимальному тарифу от 0,5% в месяц.

                    </td>
                    <td rowspan="4" class="rz-credit-terms-td rz-credit-terms-td-document">
                        Оригиналы: паспорта гражданина Украины, ИНН; пенсионное свидетельство для пенсионеров
                    </td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-name">
                        <img src="https://i1.rozetka.ua/pages/563/563055.png" alt="UKRSIBBANK" title="UKRSIBBANK" class="rz-credit-icon" style="display: block;">
                    </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-form">Кредит</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-sum">500 – 100 000</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-term">До 24</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-age">21-65</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-name">
                        <img src="https://i1.rozetka.ua/pages/391/391174.png" alt="Кредит Маркет" title="Кредит Маркет" class="rz-credit-icon" style="display: block;">
                    </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-form">Кредит</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-sum">500 – 150 000</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-term">До 36</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-age">21-67</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-name">
                        <img src="https://i2.rozetka.ua/pages/475/475735.jpg" alt="Альфа-Банк" title="Альфа-Банк" class="rz-credit-icon" style="display: block;">
                    </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-form">Кредит</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-sum">500 – 100 000</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-term">До 36</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-age">21-70</td>
                </tr>
                <tr class="rz-credit-terms-tr">
                    <td class="rz-credit-terms-td rz-credit-terms-td-name">
                        <img src="https://i1.rozetka.ua/pages/391/391195.png" alt="ПриватБанк" title="ПриватБанк" class="rz-credit-icon" style="display: block;">
                    </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-form">«Оплата Частями» <br> и «Мгновенная рассрочка»
                    </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-sum">300 – 100 000</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-term">До 24</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-age">18-70</td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-condition">
                        При списании платежа <br>за счет кредитного <br>лимита, начисляется<br> дополнительная комиссия в 4%.<br> Ежемесячная комиссия 0,01% от суммы покупки.
                    </td>
                    <td class="rz-credit-terms-td rz-credit-terms-td-document">
                        Карта ПриватБанка
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- банки-->
    <div class="rz-credit-block">
        <h2>Лицензии банков</h2>
        <div class="rz-credit-bank">
            <div class="rz-credit-bank-i"><span>ПУМБ</span> – Генеральная лицензия НБУ №8-2 от 12.02.2015 г. Банковская лицензия НБУ №8 от 06.10.2011 г.</div>
            <div class="rz-credit-bank-i"><span>UKRSIBBANK</span> – Банковская лицензия и Генеральная лицензия НБУ №75 от 05.10.2011 г. БНП Париба Груп</div>
            <div class="rz-credit-bank-i"><span>КредитМаркет</span> – Финансовая Компания «Центр Финансовых Решений» - лицензия Государственной комиссии финансовых слуг Украины АВ №580561 от 11.01.2012 г.</div>
            <div class="rz-credit-bank-i"><span>ПАТ «Альфа-Банк»</span> - Лицензия НБУ №61 от 05.10.2011 г.</div>
            <div class="rz-credit-bank-i"><span>ПриватБанк</span> – Лицензия НБУ №22 от 05.10.2011 г.</div>

        </div>
    </div>