<div id="about-us">
    <a name="about-us"></a>
    <div id="head-of-about">
        <div>
            <h1>Exhausted</h1>

            <div id="definition-of-shop">
                Prom.ua — крупнейшая торговая площадка Украины с огромнейшим <br>ассортиментом от продавцов со всей страны.
            </div>

            <div>
                Здесь <b>покупатели</b> обеспечены комфортным, доступным и безопасным онлайн-шопингом.
            </div>

            <div>
                Здесь <b>продавцы</b> получают всё необходимое для старта и роста интернет-продаж.
            </div>
        </div>

    </div>

    <div id="our-mission">
        <h2>Our mission</h2>
        <div>
            Мы помогаем предпринимателям продавать, а покупателям — приобретать товары и услуги
        </div>
    </div>

    <div id="our-statistics">
        <div id="statistics-for-every-mounth">
            <h3>
                Ежемесячно нас посещают около 33 млн посетителей.
            </h3>
            <img src="https://uaprom-static.c.prom.st/image/about_us/graph_ua_1-hcdc3039828462156f2403d35c564b1a95.svg" alt=""><br>
            <span>Динамика роста аудитории</span>
        </div>
        <div id="statistics-for-year">
            <h3>
                В 2017 году товарооборот Prom.ua достиг 15 млрд грн
            </h3>
            <img src="https://uaprom-static.c.prom.st/image/about_us/graph_ua_2-hcd757485a10a09db19e0b92024ffcd304.svg" alt=""><br>
            <span>Динамика роста аудитории</span>
        </div>
    </div>

    <div id="about-our-command">
        <h2>
            Команда профессионалов
        </h2>

        <p>
            Более 350 специалистов сопровождают и поддерживают бизнес предпринимателей Prom.ua. <br>Над разработкой и развитием торговой площадки ежедневно работает более 120 человек.
        </p>
        <div id="photo-of-our-command">
            <img src="https://uaprom-static.c.prom.st/image/about_us/photo_UA-hc613d5b224973831c98925f88b5573a7f.jpg" alt="">
        </div>

    </div>

    <div id="our-company-in-world">
        <h2>Prom.ua — часть международной семьи маркетплейсов </h2>
        <span>
            Маркетплейс был создан в 2008 году. Его основатели Николай Палиенко, Денис Горовой и Тарас Мурашко также запустили аналогичные торговые площадки в Беларуси (Deal.by), Казахстане (Satu.kz) и Молдове (Prom.md). Через год партнерам удалось привлечь инвестиции
            холдинга Naspers — так Prom.ua стал частью мирового гиганта электронной коммерции. После запуска еще серии проектов, в 2016 году была создана группа компаний EVO. Все проекты EVO.company поддерживают развитие малого и среднего бизнеса стран, в
            которых работают.
        </span>
    </div>
</div>