<a name="sign-up"></a>
<div id="block-of-sign-up">
    <form action="#" class="ui-form">
        <h3>Sign up</h3>
        <div class="form-row">
            <input type="text" id="name" required autocomplete="off"><label for="name">Name</label>
        </div>
        <div class="form-row">
            <input type="text" id="email" required autocomplete="off"><label for="email">Email</label>
        </div>
        <div class="form-row">
            <input type="password" id="password" required autocomplete="off"><label for="password">Password</label>
            <p>
                The password must be at least 6 characters, contain numbers and capital letters and must not coincide with the name and e-mail
            </p>
        </div>
        <p><input type="submit" value="Sign up"></p>

    </form>

</div>